@model IEnumerable<Domain.Model.Entities.Jogo>

@{
    ViewData["Title"] = "Index";
}

<h1>Jogos NetWork Posts</h1>
<div >
    <a asp-action="Create">Create New</a>
</div>

<table class="table">
    <thead>
    
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <ul>
                <ol class="list-group-item list-group-item-light">
                    <img src="@item.ImageUri" style="width: 200px" />
                </ol>
                <div>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                    <strong> @Html.DisplayFor(modelItem => item.Nome)</strong>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </ul>
        </tr>
}
    </tbody>
</table>
